[pyrogram]
api_id = [DATA EXPUNGED]
api_hash = [DATA EXPUNGED]

[plugins]
root = plugins
include =
    handlers.command
    handlers.message

[proxy]
enabled = False
hostname = 127.0.0.1
port = 1080

[basic]
bot_token = [DATA EXPUNGED]

[channels]
report_channel_id = [DATA EXPUNGED]

[custom]
creator_id = [DATA EXPUNGED]
video_extension = [DATA EXPUNGED]
video_path = [DATA EXPUNGED]
